{% extends 'dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}

{% block body_class %}{{ block.super }} orders home{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <meta http-equiv="refresh" content="300">
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block headertext %}
  {% trans "Dashboard" %}
{% endblock %}

{% block dashboard_content %}

  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped table-bordered table-hover">
        <caption>
          <div class="btn-toolbar pull-right">
            <div class="btn-group">
              <a href="{% url 'dashboard:catalogue-product-list' %}" class="btn btn-default">
                <i class="icon-sitemap"></i> {% trans "Manage" %}
              </a>
            </div>
          </div>
          <i class="icon-sitemap icon-large"></i>{% trans "Catalogue and stock" %}
        </caption>
        <tr>
          <th class="col-md-10">{% trans "Total products" %}</th>
          <td class="col-md-2" >{{ total_products }}</td>
        </tr>
      </table>
    </div>

   <div class="col-md-6">

      <div class="table-header">
        <i class="icon-signal icon-large"></i>{% trans "Your Store Statistics" %}
      </div>

      <div class="content-block">
        <div class="row">
          <aside class="col-md-3 order-graph-details">
            <label><span><i class="icon-briefcase"></i>{{ total_products }}</span>{% trans "Total Products" %}</label>
          </aside>
        </div>
      </div>

    </div>
   </div>

{% endblock %}
