include LICENSE
include README.rst
include README.md
include .gitignore
recursive-include oscar-catalogue/locale/*
recursive-include oscar-catalogue/static/*
recursive-include oscar-catalogue/templates/*



